.about--section--wrapper {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.about--title {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 10px;
}

.about--subtitle {
    color: rgb(131, 131, 131);
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}

.about--section--cards {
    display: flex;
    justify-content: space-around;
}

.about--card-wrapper {
    min-width: 250px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.about--card--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    background: rgba(193, 220, 220, 1);
    border-radius: 50px;
}

.about--card--title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.about--card--subtitle {
    font-size: 18px;
    font-weight: 600;
    color: rgb(131, 131, 131);
    text-align: center;
}

@media (max-width: 1200px) {
    .about--section--wrapper {
        margin: 50px;
    }

    .about--title {
        font-size: 50px;
    }

    .about--section--cards {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .about--section--wrapper {
        max-width: 100vw;
        margin: 0 20px;
    }

    .about--card-wrapper {
        padding: 1em;
    }

    .about--subtitle {
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .about--card-wrapper {
        min-width: 250px;
    }

    .about--title {
        font-size: 34px;
    }
}

@media (max-width: 550px) {
    .about--card-wrapper {
        width: 100%;
    }
}