.login--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login--wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
}

.login--tabs {
    width: 350px;
    height: 25px;
    display: flex;
    align-items: center;
}

.sign--btn {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 15px 0 0;
    user-select: none;
    padding-bottom: 3px;
}

.sign--btn:hover {
    cursor: pointer;
}

.login--form {
    width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
}

.login--text{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    margin: 25px 0 5px 0;
    user-select: none;
}

.login--text:nth-child(1){
    margin: auto 0 5px 0;
}

.login--input {
    background-color: rgba(245, 151, 40, 0.1);
    box-shadow: 0 0 49px -30px rgba(66, 68, 90, 0.8);
    border: none;
    border-bottom: 2px solid rgba(245, 151, 40, 0.8);
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    color: white;
    transition: all 0.2s ease;
}

.login--input:focus {
    outline: none;
    border-bottom: 2px solid #e2851c;
    background-color: rgba(245, 151, 40, 0.15);
    box-shadow: 0 0 49px -30px rgba(66, 68, 90, 1);
}


.login--active{
    color: #fff;
    border-bottom: 2px solid rgba(245, 151, 40, 0.7);
}

.login--notactive{
    color: rgba(255, 255, 255, 0.755);
    font-weight: 300;
}

.login--btn {
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgba(245, 151, 40, 0.7);
    background: rgba(245, 151, 40, 0.8);
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 13px;
    color: white;
    box-shadow: 0 0 49px -30px rgba(66, 68, 90, 0.8);
    transition: all 0.2s ease;
    user-select: none;
    margin-top: auto;
}

.login--btn:hover {
    background: rgba(245, 151, 40, 0.7);
    cursor: pointer;
    border-bottom: 1px solid rgba(245, 151, 40, 0.5);
    box-shadow: 0 0 80px -30px rgba(66, 68, 90, 1);
}

.login--input-error {
    background-color: rgba(245, 40, 40, 0.1);
    border-bottom: 2px solid rgba(245, 40, 40, 0.8);
}

@media (max-width: 500px) {
    .login--wrapper {
        width: 100vw;
        height: 450px;
    }

    .login--form {
        max-width: 100%;
    }

    .login--btn {
        width: 100%;
    }
}