nav {
    font-family: 'Playfair display', sans-serif;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    justify-self: flex-start;
    z-index: 4;
    user-select: none;
}

.nav--logo {
    display: flex;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    width: 200px;
    margin-left: 20px;
}

.nav--links {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 1000px;
}

.links {
    color: inherit;
    margin: 0 25px;
    padding-top: 10px;
}

.nav--icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 200px;
}

.material-symbols-outlined {
    font-size: 30px;
    align-items: center;
    padding: 10px;
}

@media (max-width: 720px) {
    .nav--logo {
        display: none;
    }

    .nav--links {
        font-size: 22px;
    }

    .links {
        margin: 0 20px;
    }
}

@media (max-width: 420px) {
    nav {
        flex-direction: column;
        height: 100%;
    }

    .nav--links {
        font-size: 22px;
        width: 100vw;
    }

    .nav--icons {
        margin: auto;
        justify-content: center;
        width: 100vw;
    }

    .material-symbols-outlined {
        font-size: 34px;
    }

}

