nav {
    font-family: 'Playfair display';
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    justify-self: flex-start;
}

.nav--logo {
    display: flex;
    font-size: 60px;
    font-family: 'Lato';
    font-weight: 900;
    width: 200px;
}

.nav--links {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 1000px;
}

.links {
    color: inherit;
    margin: 0 25px;
    padding-top: 10px;
}

.nav--icons {
    display: flex;
    justify-content: flex-end;
    width: 200px;
}

.material-symbols-outlined {
    font-size: 30px;
    padding: 10px;
}