.orders--container {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orders--container > p {
  font-size: 44px;
  font-weight: 900;
  margin: 100px 20px 30px 20px;
}

.order--box {
  width: 800px;
  border-radius: 10px;
  border: 2px solid rgb(235, 235, 235);
  margin: 15px 0;
}

.order--header {
  display: flex;
  border-bottom: 2px solid rgb(235, 235, 235);
  background: rgb(246, 246, 246);
}

.order--info {
  width: fit-content;
  margin-right: 20px;
  padding: 20px;
}

.order--info > p {
  margin: 0;
  font-size: 18px;
  color: rgb(120, 120, 120);
  font-weight: 500;
}

.order--info--details {
  margin-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.order--content {
  display: flex;
  padding: 20px;
  border-bottom: 2px solid rgb(235, 235, 235);
}

.order--details {
  margin: auto 20px;
}

.order--title {
  font-size: 24px;
  margin-top: -5px;
}

.order--description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.order--description > p {
  margin: 5px 0 0 0;
  font-size: 18px;
}

.order--img {
  margin: auto 0;
}

.order--img > img {
  width: 150px;
}

.logout--btn {
  width: 120px;
  height: 40px;
  margin: 0 0 50px 0;
}

@media (max-width: 1100px) {
  .orders--container {
    max-width: 100vw;
  }
}

@media (max-width: 850px) {
  .orders--container > p {
    font-size: 38px;
    text-align: center;
    margin: 80px 20px 40px 20px;
  }

  .order--box {
    width: 90vw;
    margin: 15px 20px;
  }
}

@media (max-width: 570px) {
  .order--info {
    margin-right: 10px;
    padding: 15px;
  }

  .order--content {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .orders--container > p {
    font-size: 34px;
  }

  .order--header {
    flex-direction: column;
  }

  .order--content {
    flex-direction: column;
  }

  .order--details {
    margin: 15px 0;
  }

  .order--description {
    margin-top: 10px;
  }

  .order--title {
    font-size: 20px;
  }

  .order--description > p {
    font-size: 16px;
  }
}
