.pagination--wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination--wrapper > span {
    font-size: 24px;
    margin: 5px 5px 0 5px;
}

.pagination--button {
    background: rgb(235, 235, 235);
    margin: 0 5px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    border-radius: 50%;
}

.pagination--button:hover {
    filter: brightness(90%);
    transition: linear 200ms;
    cursor: pointer;
}

.pagination-button:disabled {
    cursor: not-allowed;
}