.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.product--page--img {
  width: 50%;
  pointer-events: none;
  user-select: none;
}

.product--page--img > img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.product--page--info {
  width: 50%;
  height: 100%;
  color: #312f0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 40px;
}

.product--page--name {
  font-family: "Playfair display", sans-serif;
  font-weight: 700;
  font-size: 52px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.product--page--price {
  font-weight: 700;
  font-size: 30px;
  padding: 0;
  margin: 20px 0 0 0;
}

.product--page--description {
  font-size: 16px;
  font-weight: 300;
  max-width: 500px;
  padding: 0;
  margin: 20px 0 0 0;
  line-height: 20px;
}

.add--cart {
  width: 150px;
  height: 50px;
  border: 1px solid #f4901d;
  background: #f59728;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  box-shadow: 0 0 49px -30px rgba(66, 68, 90, 0.8);
  transition: all 0.2s ease;
  user-select: none;
}

.add--cart:hover {
  background: #ca7b04;
  cursor: pointer;
  box-shadow: 0 0 80px -30px rgba(66, 68, 90, 1);
}

@media (max-width: 1100px) {
  .container {
    max-width: 100%;
    margin: 0 20px;
  }

  .wrapper {
    width: 100%;
    margin: auto;
  }

  .product--page--info {
    margin: auto 25px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
  }

  .product--page--img {
    width: 80%;
  }

  .product--page--info {
    width: 80%;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .product--page--img {
    width: 100%;
  }

  .product--page--info {
    width: 100%;
  }
}
