.profile {
  width: 100vw;
  height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-inside {
  display: flex;
  align-items: center;
  gap: 30px;
}

.log-out {
  width: 100px;
  height: 40px;
  border: 1px solid #f4901d;
  background: #f59728;
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 13px;
  margin-top: 30px;
  color: white;
  box-shadow: 0px 0px 49px -30px rgba(66, 68, 90, 0.8);
  transition: all 0.2s ease;
  user-select: none;
}

.log-out:hover {
  background: #ca7b04;
  cursor: pointer;
  box-shadow: 0px 0px 80px -30px rgba(66, 68, 90, 1);
}
